html,
body {
  height: 100%;
}
body h1,
body h2,
body h3,
body h4 {
  font-family: Nunito, Helvetica, sans-serif;
}
body p {
  font-family: Lora, serif;
}
footer {
  background-color: #483D68;
  padding: 1em;
}
#myCarousel {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}
hr {
  height: 2px;
  background-color: #555;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 80%;
}
img.staff {
  border-radius: 10em;
  padding: 1px;
  border: 2px solid grey;
}
.jumbotron,
footer {
  background-color: #483D68;
  color: white;
}
.auto-margin {
  margin-left: auto;
  margin-right: auto;
}
.vertical-align {
  display: flex;
  justify-content: center;
  align-items: center;
}
button.btn.btn-primary a {
  color: white;
}
/* Tablet CSS code and up */
/* Desktop CSS code and up */
@media only screen and (min-width: 1025px) {
  .panel {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}
